div.tooltip {
    /*color: white;*/
    background-color: black;
    padding: .5em;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    visibility: hidden;
}

circle:hover {
    stroke-width: 3px;
    stroke: black;
}

.cssPays {
    font-family: Open Sans, sans-serif;
    font-size: 64px;
    font-weight: 700;
    opacity: 0.1;
  }

  .ui-helper-hidden-accessible{
    display: none;
    }
    