/* Necessary for full page carousel*/
html,
body,
.view {
  height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-item:nth-child(1) {
  background-image: url("img/35584_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(2) {
  background-image: url("img/deforestation.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(3) {
  background-image: url("img/deforestation-bresil_6270718.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#title h1, h3 {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    
}

.test {
    position: relative;
    top: 35%;
    text-shadow: 2px 1px 2px black;
}
 .border {
    background-color: rgba(95, 95, 90, 0.5);
 }

 .pt {
    padding-top: 15px;
    padding-bottom: 15px;
}
#black {
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #2f2f2f;
    min-height: 300px;
    width: 100%;
}

#black h3 {
    color: white;
}

#black h4 {
    color: white;
    text-transform: uppercase
}

#black p {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

#black i {
    font-size: 35px;
}

#black h1 {
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}

#black hr {
    color: #93cf82;
}

.mt {
    margin-top: 50px;
    margin-bottom: 50px;
}
.centered {
    text-align: center;
}

 #black i {
    color: #93cf82;
  }

#joli {
    margin-top: 50px;
    margin-bottom: 50px;
}

#testCouleur i {
    color:#cb2c2c;
}

#testCouleur hr {
    color: #cb2c2c;
}

#white {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(242, 242, 242);
    min-height: 300px;
    width: 100%;
    color: black;
    text-align: center;
}

#defo {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    max-width: 100%;
    color: black;
}

#compa {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(242, 242, 242);
    max-width: 100%;
}

#compa h3 {
    color: grey !important;
    font-style: italic;
}

#total {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    max-width: 100%;
}

#total h3 {
    color: grey !important;
    font-style: italic;
}

#pays {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(242, 242, 242);
    max-width: 100%;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

footer.nb-footer {
    background: #222;
    border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33;
}

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}